<!DOCTYPE html>
<html>
  <head>
    <title>CSV Data</title>
  </head>
  <style>  table, th, td {
    border: 1px solid;
  }</style>

  <body>
    <table>
      <thead>
        <tr>
          <th>Login</th>
          <th>ASIN</th>
          <th>Auditor Response</th>
          <th>Defect Reason Code</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach((row) => { %>
          <tr>
            <td><%= row.login %></td>
            <td><%= row.asin %></td>
            <td><%= row["auditor-response"] %></td>
            <td><%= row["defect-reason-code"] %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>

